<!DOCTYPE html>
<html>
  <head>
    <title>PrivateEvents</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar">
      <ul class="nav-icons">
        <li><%= link_to 'Home', root_path %></li>
        
        <li><%= link_to 'Create New Event', new_event_path %></li>
        <%= show_nav_links %>
      </ul>
    </nav>
      <%= app_flashes %>
    <%= yield %>
  </body>
</html>
